<!DOCTYPE html>
<html>
  <head>
    <title>Store</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  </head>
  <body>
    <% flash.each do |type, msg| %>
      <div class="relative z-10 mx-4" id="flash">
        <div class="absolute inset-x-0 top-10 w-auto max-w-xs py-3 mx-auto bg-white border rounded-lg shadow-sm border-gray-200" role="alert">
          <div class="flex items-center justify-between mx-4">
            <div class="flex items-center space-x-3">
              <p class="text-lg"> <%= type == "notice" ? "✅" : "❌" %></p>
              <%= content_tag :p, msg, class: "max-w-prose" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <div class="p-6 mx-auto max-w-2xl">
      <%= yield %>
    </div>
  </body>
</html>
